config.h
config.log
config.status
autom4te.cache
libtool
stamp*
Makefile
.deps
.libs
*.o
*.lo
*.la
*.class
*.jar
doc/jni
lib/*_libdsk_*.h
tools/apriboot
tools/dskdump
tools/dskform
tools/dskid
tools/dskscan
tools/dsktest
tools/dsktrans
tools/dskutil
tools/forkslave
tools/md3serial
tools/serslave
